{% extends "layout.html" %}
{% block content %}
<ul class="nav nav-pills nav-fill" style="background-color: rgba(1,1,1, 0.25); border-radius: .25vw">
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#FDB" style="color: white; font-size: 2.5vmin">Før
        du begynder</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#OmData" style="color: white; font-size: 2.5vmin">Sådan
        får du data</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#OmResultater"
                            style="color: white; font-size: 2.5vmin">Analysér data med STATQ</a></li>
</ul>

<div class="tab-content" style="">
    <div class="tab-pane fade" id="FDB">
        <div class="content-section">
            <p style="color: black; font-size: 2vmin;">STATQ er et redskab til nemt og hurtigt at få overblik over
                kemiske og hydrologiske vandløbsdata. STATQ er redskabet og du leverer dataene. I øjeblikket fungerer
                STATQ udelukkende med data fra OdaForAlle, eller .csv / .txt-filer med samme struktur (kolonne-navne og
                dato-format).</p>
            <p><b>Den overordnede procedure for brug af STATQ er følgende:</b></p>
            <ol style="color: black; font-size: 2vmin; margin-left: 2vw">
                <li>Hent data fra online-databasen OdaForAlle (link <a href="https://odaforalle.au.dk/main.aspx"
                                                                       target="_blank">her</a>)
                </li>
                <li>Hent de ønskede data som CSV-fil</li>
                <li>Upload fil til STATQ under <a href="{{ url_for('program.your_files') }}">Filer</a></li>
                <br>
                <li>Under filer kan du se resultater ved tryk på
                    <button class="btn btn-primary"
                            style="margin-left: 1vw; width:  4vw; height: 4vh; font-size:  1vmin;">
                        <svg class="bi bi-graph-up" fill="currentColor" height="1.8vh" viewBox="0 0 16 16"
                             width="1.8vw" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"
                                  fill-rule="evenodd"/>
                        </svg>
                </li>
                </button>
            </ol>
            </p>
        </div>
    </div>
    <div class="tab-pane fade" id="OmData">
        <div class="content-section">
            <p><b>Sådan henter du data fra OdaForAlle</b></p>
            <ol style="color: black; font-size: 2vmin; margin-left: 2vw">
                <li>Gå ind på <a href="https://odaforalle.au.dk/main.aspx" taget="_blank"> OdaForAlle</a></li>
                <li> Log ind med email på startsiden</li>
                <li> Vælg vandløb under fanen "Hent data" øverst til venstre.</li>
                <li> Under 'Emne' vælg enten Vandkemi --> Næringsstoffer mm. eller vælg Hydrometri --> Vandstand (eller
                    vandføring).
                </li>
                <li> Find ønsket vandløb under Lokalitet og vælg derefter sted under observationsstednr. Eksempel:
                    Gudenå, ved Ulstrup.
                </li>
                <li> Angiv ønsket årrække, som skal udtrækkes.</li>
                <br>
                <li> Tryk CSV for at hente CSV-filen. Den er nu klar til at uploade til STATQ</li>
                <br>
                <p> For yderligere information, se videoen herunder: </p>
                <br>
                <div>
                    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen frameborder="0"
                            id="VideoFrame"
                            src="https://www.youtube.com/embed/5uPvar9wZl0"
                            title="YouTube video player"></iframe>
                </div>

            </ol>
        </div>
    </div>
    <div class="tab-pane fade" id="OmResultater">
        <div class="content-section">
            <h2> Kommer snart ... </h2>
        </div>
    </div>
</div>
{% endblock content %}

